In [1]:
class Company():
    def __init__(self, name, birthday, cellphone):
        self.name = name
        self.birthday = birthday
        self.cellphone = cellphone
            
    def show_name(self):
        print(self.name)
        
    def show_cellphone(self):
        print(self.cellphone)
    
    def show_birthday(self):
        print(self.birthday)

In [2]:
class Employee(Company):
    def __init__(self, department, id_number, name, birthday, int_phone_number, cellphone, experience, income, marital_status):
        super().__init__(name, birthday, cellphone)
        self.department = department
        self.id_number = id_number
        self.int_phone_number = int_phone_number
        self.experience = experience
        self.income = income
        self._marital_status = marital_status
        self.__annual_bonus = 15000
            
    def show_department(self):
        print(self.department)
        
    def show_id(self):
        print(self.id_number)
        
    def show_int_phone_number(self):
        print(self.int_phone_number)
        
    def show_experience(self):
        print(self.experience)
        
    def show_income(self):
        print(self.income)
        
    def show_annual_bonus(self):
        print(self.__annual_bonus)

In [3]:
employee1 = Employee("Marketing", "011566", "Ion Popa", "28/02/1990", 566, 37366787566, 5, 499000, "married")

In [4]:
employee1.show_id()

011566

In [5]:
employee1.show_name()

Ion Popa

In [6]:
employee1.show_cellphone()

37366787566

In [7]:
employee1.show_int_phone_number()

566

In [8]:
employee1.show_experience()

5

In [9]:
employee1.show_income()

499000

In [10]:
employee1.show_annual_bonus()

15000

In [11]:
employee1._marital_status

'married'

In [12]:
class Intern(Company):
    def __init__(self, department, name, birthday, cellphone):
        super().__init__(name, birthday, cellphone)
        self.department = department
    
    def show_department(self):
        print(self.department)
        
    def show_experience(self):
        print("No experience yet")

In [13]:
intern1 = Intern("Sales", "Dan Balan", "27/06/1999", 3737654321)

In [14]:
intern1.show_name()

Dan Balan

In [15]:
intern1.show_birthday()

27/06/1999

In [16]:
intern1.show_cellphone()

3737654321

In [17]:
intern1.show_experience()

No experience yet

In [18]:
intern1._marital_status

AttributeError: 'Intern' object has no attribute '_marital_status'

In [19]:
intern1.show_annual_bonus()

AttributeError: 'Intern' object has no attribute 'show_annual_bonus'

In [20]:
employee2 = Employee("HR", "012166", "Dana Macari", "10/04/1991", 166, 37366787166, 6, 549000, "single")

In [21]:
employee2.show_id()

012166

In [22]:
employee2._marital_status

'single'

In [23]:
employee2.show_income()

549000

In [24]:
employee2.show_annual_bonus()

15000

In [25]:
class_instances = (employee1, intern1)

In [26]:
for individual in class_instances:
    individual.experience()

TypeError: 'int' object is not callable